.section-one {
  text-align: center;
  margin-bottom: 30px;
}

.test {
  display: flex;
  justify-content: center;
} */

body {
  margin: auto 0;
}

.container {
  max-width: 720px;
  
} 

.columns {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  

}

@media (max-width: 616px) {
  #main {
    display: block;
  }
}
