h4 {
    margin: 0;
}

.container {
    margin: auto;
  
}

.col {
    text-align: center;
    border: 2px solid #C5BBB7;
    padding: 20px;
    margin: 0 auto;

}


.icon {
    height: 50px;
    padding: 20px;
    max-width: 100%;
   
}





